.registration-form {
	position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:17em;
    margin-top: -11em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #000;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.form{
	margin: 0 auto;
  	padding: 0px;
  	text-align: center;
}

.center{
	text-align: center;
}

h1{
	padding: 10px;
	margin: 20px 150px 20px 150px;
	border: 3px solid #000000;
}

.github-image{
	position: fixed;
	left: 50%;
	bottom: 20px;
	transform: translate(-50%, -50%);
	margin: 0 auto;
}
